
        .btn {
            background-color: rgb(8, 196, 33);
            color: white;
            padding: 10px 20px;
            border: black 1px solid;
            border-radius: 5px;
            cursor: pointer;
            font-size: 20px;
        }

        .styled {
            background-color: #f0f8ff;
            color: #333;
            font-family: Arial, sans-serif;
        }
                .styled table {
            border-collapse: collapse;
            width: 100%;
        }
        .styled th, .styled td {
            border: 1px solid #ccc;
            padding: 8px;
        }
        .styled th {
            background: #0b3c5d;
            color: white;
        }
        .styled a {
            color: #0b3c5d;

            font-weight: bold;

        }